{block content}
<section class="logout">
    <div class="header">Odhlášení bylo úspěšné</div>
    <div class="btns">
                <a n:href="in" class="">
                    <button class="btn btn-add">Přihlásit</button>
                </a>            
    </div>
</section>