{block content}

    <div class="image">
                {*<h3>{$desc->title}</h3>
                 <p>{$desc->description}</p>*}
                <div><img src="../../{$image->dir . $image->title}" alt="{$image->title}"></div>
                <a class="" n:href="Homepage:default">Zavřít</a>
            
        </div>
